.section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockAuthorization {
  width: 70%;
  min-height: 50vh;
  margin: auto;
  background-color: rgba(49, 98, 172, 0.57);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
}
